/* --- Main Left --- */

:root {
  --left-profile-background-color: #fff;
  --left-profile-padding: 1rem;
  --left-profile-radius: 1rem;
}

   /* calc可以计算不同单位的 */
.main-left {
  position: relative;
  height: calc(100dvh - 5.4rem);
  min-width: 250px;
  overflow-x: hidden;
}

.main-left h2 {
  font-size: 0.9rem;
}

.main-left p {
  font-size: 0.7rem;
  color: var(--color-gray);
}

.main-left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 0.8rem 0;
}


